<a href="https://colab.research.google.com/github/urosgodnov/neomag020/blob/main/Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1: Python Foundations

**Python for Data Science Course**

**Author:** dr. Uro≈° Godnov

Run each cell in order. Use `Shift+Enter` to execute a cell.

---

In [1]:
# üöÄ Run this cell first to set up your environment!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# For nicer plots
plt.style.use('seaborn-v0_8-whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

print("‚úÖ Libraries loaded successfully!")
print(f"üìä Pandas version: {pd.__version__}")
print(f"üî¢ NumPy version: {np.__version__}")
print("\nüéì Ready to learn! Let's go!")

‚úÖ Libraries loaded successfully!
üìä Pandas version: 2.2.2
üî¢ NumPy version: 2.0.2

üéì Ready to learn! Let's go!

---

# üìö Part 1: Welcome to Python

Introduction and Setup (30 minutes)

## What is Python?

- Created by Guido van Rossum in 1991
- Named after Monty Python (not the snake!)
- One of the most popular programming languages worldwide
- Used by Google, Netflix, Instagram, Spotify, NASA, CERN

**Why Python for Data Science?**

- Easy to read and write (looks like English)
- Huge ecosystem of libraries (pandas, numpy, matplotlib, scikit-learn)
- Great community and documentation
- Free and open source
- Industry standard for data science and machine learning

## Who Uses Python?

| Company | How They Use Python |
|---------|---------------------|
| Google | Search algorithms, YouTube |
| Netflix | Recommendation engine |
| Instagram | Backend infrastructure |
| Spotify | Music recommendations |
| NASA | Scientific computing |
| Banks | Risk analysis, fraud detection |
| Hospitals | Medical image analysis |

## What is Google Colab?

- Free cloud-based Python environment by Google
- Runs entirely in your browser - no installation needed
- Based on Jupyter Notebooks
- Free GPU/TPU for machine learning
- Easy to share and collaborate
- Saves automatically to Google Drive

**We'll use Colab for the entire course.**

## Colab Interface Tour

**Key elements:**

1. **Code cells** - where you write and run Python code
2. **Text cells** - for notes and documentation (Markdown)
3. **Run button** (‚ñ∂Ô∏è) - click to execute the cell
4. **Keyboard shortcut:** `Shift + Enter` to run current cell
5. **Ctrl + Enter** - run cell but stay in it
6. **Alt + Enter** - run cell and create new one below

**Let's practice running cells now!**

## Your First Python Code

Type this in a code cell and press Shift+Enter:

In [ ]:
print("Hello, World!")

**Output:**
```
Hello, World!
```

üéâ Congratulations! You just wrote your first Python program!

> üí° **Tip:** `print()` is a **function** that displays text on the screen. We'll learn more about functions later.

## What Just Happened?

In [ ]:
print("Hello, World!")

Breaking it down:

- `print` - the name of a built-in function
- `(` `)` - parentheses that contain what we want to print
- `"Hello, World!"` - a **string** (text) in quotes
- The function displays the text and moves to next line

## Exercise 1.1: Hello You! (5 min)

Modify the code to print YOUR own greeting:

In [ ]:
print("Hello, [Your Name]!")

Now try printing multiple lines:

In [ ]:
print("Line 1: Hello!")
print("Line 2: Welcome to Python!")
print("Line 3: Let's learn together!")

**Challenge:** Print your name, your city, and your favorite food on three separate lines.

## Comments in Python

Comments explain your code - Python ignores them completely.

In [ ]:
# This is a comment - Python ignores this line
print("Hello")  # This comment is at the end of a line

# Comments help you and others understand your code
# Use them liberally!

# TODO: This is a common way to mark tasks
# FIXME: This marks something that needs fixing

> üìù **Note:** Good programmers write lots of comments. Your future self will thank you!

## Using Gemini AI in Colab

::: {.callout-important}

## How to Access Gemini
1. Click in any code cell
2. Press `Ctrl + Shift + Space` (Windows/Linux) or `Cmd + Shift + Space` (Mac)
3. Or click the ‚ú® sparkle icon on the left of the cell
4. Type your question in plain English
5. Review the generated code before running!
:::

**Try it now:** Ask Gemini "Write a print statement that says Hello World"

## Gemini: Your Coding Partner

**Good uses of Gemini:**

- "How do I...?" syntax questions
- "What does this error mean?"
- "Explain this code to me"
- "Is there a better way to do this?"
- "Give me an example of..."

**The Golden Rule:** Always READ and UNDERSTAND the code before using it!

Gemini is a helper, not a replacement for learning.

## Exercise 1.2: Gemini Practice (5 min)

Try these Gemini prompts:

1. "Write code that prints my name three times"
2. "How do I print a blank line in Python?"
3. "Write a print statement with an emoji"

For each:

- Read the generated code
- Try to understand what it does
- Run it
- Modify it slightly

---

# üìö Part 2: Variables

Storing and Naming Your Data (45 minutes)

## What is a Variable?

A variable is like a **labeled box** that stores data.

In [ ]:
name = "Alice"

- `name` is the **label** (variable name)
- `"Alice"` is the **content** (value)
- `=` is the **assignment operator** (puts value in box)

Think of it as: "Create a box labeled 'name' and put 'Alice' inside"

## Why Do We Need Variables?

Without variables:

In [ ]:
print(5 + 3)
print(5 * 3)
print(5 - 3)
# What if we want to change 5 to 10? Must change everywhere!

With variables:

In [ ]:
number = 5
print(number + 3)
print(number * 3)
print(number - 3)
# To change, just modify once: number = 10

Variables make code **flexible** and **reusable**.

## Creating Variables

In [ ]:
# Text (called a "string")
name = "Alice"

# Whole number (called an "integer")
age = 28

# Decimal number (called a "float")
height = 1.65

# True/False value (called a "boolean")
is_student = True

> üìù **Note:** Lines starting with `#` are **comments** - Python ignores them. Use them to explain your code!

## Using Variables

Once created, use variables by their name:

In [ ]:
name = "Alice"
age = 28

print(name)
print(age)
print(name)  # Can use as many times as you want

**Output:**
```
Alice
28
Alice
```

Variables remember their values until you change them or the program ends.

## Changing Variable Values

Variables can change (that's why they're called "variables"!):

In [ ]:
score = 100
print(score)

score = 150
print(score)

score = score + 50  # Use old value to calculate new value
print(score)

**Output:**
```
100
150
200
```

## Understanding Assignment

The `=` sign in Python is NOT like math equality!

In [ ]:
x = 5      # "Put 5 into the box labeled x"
x = x + 1  # "Take value from x, add 1, put result back in x"
print(x)   # 6

This is different from math where `x = x + 1` makes no sense!

In Python, `=` means "assign the value on the right to the variable on the left."

## Variable Naming Rules (MUST Follow)

**Required rules:**

1. Must start with letter or underscore (`_`)
2. Can only contain letters, numbers, underscores
3. Cannot contain spaces or special characters
4. Cannot be Python keywords
5. Case-sensitive (`age` ‚â† `Age` ‚â† `AGE`)

In [ ]:
# VALID names:
name = "Alice"
first_name = "Alice"
name2 = "Alice"
_private = "Alice"

# INVALID names (will cause errors):
# 2name = "Alice"      # Starts with number
# first-name = "Alice" # Contains hyphen
# first name = "Alice" # Contains space
# class = "Alice"      # Python keyword

## Python Keywords (Reserved)

These words have special meaning - you can't use them as variable names:

```
False    class     finally   is        return
None     continue  for       lambda    try
True     def       from      nonlocal  while
and      del       global    not       with
as       elif      if        or        yield
assert   else      import    pass
break    except    in        raise
```

If you try to use one, you'll get a `SyntaxError`.

## Variable Naming Conventions (SHOULD Follow)

**Python Style Guide (PEP 8) recommendations:**

In [ ]:
# GOOD - snake_case (words separated by underscores)
student_name = "Alice"
total_score = 95
is_valid = True

# AVOID - but technically valid
studentName = "Alice"   # camelCase (used in JavaScript)
StudentName = "Alice"   # PascalCase (used for classes)
TOTAL_SCORE = 95        # SCREAMING_CASE (used for constants)

# BAD - hard to read
studentname = "Alice"
s = "Alice"
x = 95

## Descriptive Variable Names

In [ ]:
# BAD - What do these mean?
a = 50000
b = 0.22
c = a - (a * b)

# GOOD - Self-documenting code
salary = 50000
tax_rate = 0.22
net_income = salary - (salary * tax_rate)

Good variable names make code **readable** without needing comments.

## Exercise 2.1: Create Your Profile (5 min)

Create variables for yourself:

In [ ]:
# Your information
my_name = "..."        # Your name (string)
my_age = ...           # Your age (integer)
my_height = ...        # Height in meters (float)
my_city = "..."        # Your city (string)
favorite_food = "..."  # Favorite food (string)
likes_coffee = ...     # True or False (boolean)

# Print them all
print(my_name)
print(my_age)
print(my_height)
print(my_city)
print(favorite_food)
print(likes_coffee)

## Exercise 2.1: Solution

In [ ]:
my_name = "Marko"
my_age = 32
my_height = 1.78
my_city = "Ljubljana"
favorite_food = "Pizza"
likes_coffee = True

print(my_name)
print(my_age)
print(my_height)
print(my_city)
print(favorite_food)
print(likes_coffee)

**Output:**
```
Marko
32
1.78
Ljubljana
Pizza
True
```

## Multiple Assignment

Python allows assigning multiple variables at once:

In [ ]:
# Assign same value to multiple variables
a = b = c = 0
print(a, b, c)

# Assign different values in one line
x, y, z = 1, 2, 3
print(x, y, z)

# Swap values (very useful!)
x, y = y, x
print(x, y)  # Values are swapped!

**Output:**
```
0 0 0
1 2 3
2 1
```

## Practical Example: Personal Data

In [ ]:
# Personal information
first_name = "Ana"
last_name = "Novak"
birth_year = 1995
current_year = 2024

# Calculated values
age = current_year - birth_year
full_name = first_name + " " + last_name

# Display
print("Name:", full_name)
print("Age:", age)

**Output:**
```
Name: Ana Novak
Age: 29
```

## Exercise 2.2: Rectangle Calculator (5 min)

In [ ]:
# Given dimensions
width = 5
height = 3

# Calculate these values:
area = ...       # width √ó height
perimeter = ...  # 2 √ó (width + height)
diagonal = ...   # ‚àö(width¬≤ + height¬≤) - hint: use ** 0.5 for square root

# Print results
print("Width:", width)
print("Height:", height)
print("Area:", area)
print("Perimeter:", perimeter)
print("Diagonal:", diagonal)

## Exercise 2.2: Solution

In [ ]:
width = 5
height = 3

area = width * height
perimeter = 2 * (width + height)
diagonal = (width**2 + height**2) ** 0.5

print("Width:", width)
print("Height:", height)
print("Area:", area)
print("Perimeter:", perimeter)
print("Diagonal:", diagonal)

**Output:**
```
Width: 5
Height: 3
Area: 15
Perimeter: 16
Diagonal: 5.830951894845301
```

## Gemini Exercise: Variables

Ask Gemini:

> "Create variables for a book including title, author, year published, number of pages, and whether I've read it"

Then:

1. Read the generated code carefully
2. Run it to make sure it works
3. Modify it for YOUR favorite book
4. Add a variable for your rating (1-5)

---

# üìö Part 3: Data Types

Different Kinds of Data (30 minutes)

## The Four Basic Types

| Type | Python Name | Examples | Use For |
|------|-------------|----------|---------|
| Integer | `int` | `42`, `-7`, `0` | Counting, IDs, ages |
| Float | `float` | `3.14`, `-0.5`, `2.0` | Measurements, prices |
| String | `str` | `"Hello"`, `'World'` | Text, names, messages |
| Boolean | `bool` | `True`, `False` | Yes/No, On/Off decisions |

## Integers (int)

Whole numbers - no decimal point.

In [ ]:
age = 28
year = 2024
temperature = -5
population = 2000000
zero = 0

print(age)
print(type(age))

**Output:**
```
28
<class 'int'>
```

Integers can be as large as your memory allows (no limit in Python 3).

## Integer Examples

In [ ]:
# Counting things
num_students = 25
items_in_cart = 3

# IDs and indices
user_id = 12345
row_number = 0

# Quantities
days_until_deadline = 14
retry_count = 3

# Can be negative
balance = -50
floors_below_ground = -2

## Floats (float)

Numbers with decimal points.

In [ ]:
height = 1.75
price = 19.99
pi = 3.14159
negative = -0.5
also_float = 2.0  # Still a float because of decimal!

print(height)
print(type(height))
print(type(2.0))

**Output:**
```
1.75
<class 'float'>
<class 'float'>
```

## Float Examples

In [ ]:
# Measurements
weight_kg = 68.5
distance_km = 42.195

# Money
price = 29.99
tax_rate = 0.22

# Scientific values
pi = 3.14159
gravity = 9.81

# Percentages (as decimals)
completion = 0.75  # 75%
accuracy = 0.9823  # 98.23%

## Float Precision Warning

Floats have limited precision - be careful with comparisons!

In [ ]:
a = 0.1 + 0.2
print(a)
print(a == 0.3)  # Surprising result!

**Output:**
```
0.30000000000000004
False
```

This is a fundamental limitation of how computers store decimals. For money, consider using integers (cents) or the `decimal` module.

## Strings (str)

Text enclosed in quotes (single or double).

In [ ]:
name = "Alice"
city = 'Ljubljana'  # Single quotes work too
message = "Hello, World!"
empty = ""  # Empty string

print(name)
print(type(name))
print(len(message))  # Length of string

**Output:**
```
Alice
<class 'str'>
13
```

## String Quote Rules

In [ ]:
# Single and double quotes are equivalent
name1 = "Alice"
name2 = 'Alice'
print(name1 == name2)  # True

# Use opposite quotes to include quotes inside
quote1 = "She said 'Hello'"
quote2 = 'He said "Hi"'
print(quote1)
print(quote2)

# Or use escape character \
quote3 = "She said \"Hello\""
print(quote3)

## Multi-line Strings

Use triple quotes for strings spanning multiple lines:

In [ ]:
long_text = """This is a
multi-line
string that spans
several lines."""

print(long_text)

**Output:**
```
This is a
multi-line
string that spans
several lines.
```

## Booleans (bool)

Only two possible values: `True` or `False`

In [ ]:
is_student = True
has_license = False
is_adult = True
likes_python = True

print(is_student)
print(type(is_student))

**Output:**
```
True
<class 'bool'>
```

> ‚ö†Ô∏è **Warning:** `True` and `False` MUST be capitalized! `true` and `false` won't work.

## Boolean Examples

In [ ]:
# Status flags
is_logged_in = True
is_admin = False
email_verified = True

# Feature toggles
dark_mode = True
notifications_enabled = False

# Comparisons return booleans
age = 25
is_adult = age >= 18  # True
is_teenager = age < 20  # False

print(is_adult)
print(is_teenager)

## The type() Function

Check any value's type with `type()`:

In [ ]:
print(type(42))
print(type(3.14))
print(type("Hello"))
print(type(True))
print(type(None))  # Special "no value" type

**Output:**
```
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
```

## Exercise 3.1: Type Detective (5 min)

What is the type of each value? Guess first, then check with `type()`!

In [ ]:
a = 42
b = 42.0
c = "42"
d = True
e = "True"
f = ""
g = 0
h = 0.0
i = "3.14"
j = None

Write your guesses, then verify with code.

## Exercise 3.1: Answers

In [ ]:
print(type(42))      # int
print(type(42.0))    # float (has decimal point!)
print(type("42"))    # str (in quotes!)
print(type(True))    # bool
print(type("True"))  # str (in quotes!)
print(type(""))      # str (empty string is still a string)
print(type(0))       # int
print(type(0.0))     # float
print(type("3.14"))  # str
print(type(None))    # NoneType

## Type Conversion

Convert between types using functions:

In [ ]:
# String to integer
age_str = "25"
age_int = int(age_str)
print(age_int + 5)  # 30 (math works!)

# Integer to string
num = 42
num_str = str(num)
print("The answer is " + num_str)

# Integer to float
x = float(10)
print(x)  # 10.0

# Float to integer (truncates!)
y = int(3.9)
print(y)  # 3 (not 4!)

## Type Conversion Functions

| Function | Converts To | Example | Result |
|----------|-------------|---------|--------|
| `int()` | Integer | `int("42")` | `42` |
| `float()` | Float | `float("3.14")` | `3.14` |
| `str()` | String | `str(42)` | `"42"` |
| `bool()` | Boolean | `bool(1)` | `True` |

## Type Conversion Errors

In [ ]:
# This works
int("42")      # 42

# These FAIL!
int("hello")   # ValueError: invalid literal
int("3.14")    # ValueError: invalid literal
int("")        # ValueError: invalid literal

# For decimals, convert to float first
float("3.14")           # 3.14
int(float("3.14"))      # 3

> ‚ö†Ô∏è **Warning:** Always validate user input before converting!

## Boolean Conversion

Everything can become a boolean - some values are "truthy" or "falsy":

In [ ]:
# Falsy values (become False)
print(bool(0))       # False
print(bool(0.0))     # False
print(bool(""))      # False (empty string)
print(bool([]))      # False (empty list)
print(bool(None))    # False

# Truthy values (become True)
print(bool(1))       # True
print(bool(-5))      # True (any non-zero)
print(bool("hello")) # True (non-empty string)
print(bool("False")) # True! (non-empty string)

## Exercise 3.2: Type Conversion Practice (5 min)

In [ ]:
# 1. Convert to integer and add 10
price = "199"
new_price = ...  # Should be 209

# 2. Convert to string and concatenate
quantity = 5
message = "You ordered " + ... + " items"

# 3. Fix this (TypeError)
age = "25"
next_year = age + 1  # Will error! Fix it.

# 4. Convert user input (assume they typed "3.14")
user_input = "3.14"
number = ...  # Convert to float, then to int

## Exercise 3.2: Solutions

In [ ]:
# 1. Convert to integer and add 10
price = "199"
new_price = int(price) + 10
print(new_price)  # 209

# 2. Convert to string and concatenate
quantity = 5
message = "You ordered " + str(quantity) + " items"
print(message)

# 3. Fix the TypeError
age = "25"
next_year = int(age) + 1
print(next_year)  # 26

# 4. Convert user input
user_input = "3.14"
number = int(float(user_input))
print(number)  # 3

---

# üìö Part 4: Operations

Math and String Manipulation (30 minutes)

## Arithmetic Operators

| Operator | Name | Example | Result |
|----------|------|---------|--------|
| `+` | Addition | `10 + 3` | `13` |
| `-` | Subtraction | `10 - 3` | `7` |
| `*` | Multiplication | `10 * 3` | `30` |
| `/` | Division | `10 / 3` | `3.333...` |
| `//` | Floor Division | `10 // 3` | `3` |
| `%` | Modulo (Remainder) | `10 % 3` | `1` |
| `**` | Exponent (Power) | `10 ** 3` | `1000` |

## Basic Math Examples

In [ ]:
a = 10
b = 3

print(f"Addition:       {a} + {b} = {a + b}")
print(f"Subtraction:    {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division:       {a} / {b} = {a / b:.2f}")

**Output:**
```
Addition:       10 + 3 = 13
Subtraction:    10 - 3 = 7
Multiplication: 10 * 3 = 30
Division:       10 / 3 = 3.33
```

## Division Types Explained

In [ ]:
print("Regular division (/):")
print(f"  10 / 3 = {10 / 3}")   # 3.333...
print(f"  10 / 2 = {10 / 2}")   # 5.0 (still float!)

print("\nFloor division (//):")
print(f"  10 // 3 = {10 // 3}") # 3 (rounds down)
print(f"  10 // 2 = {10 // 2}") # 5

print("\nModulo (%):")
print(f"  10 % 3 = {10 % 3}")   # 1 (remainder)
print(f"  10 % 2 = {10 % 2}")   # 0 (evenly divisible)

## Practical Uses of Modulo

In [ ]:
# Check if number is even or odd
number = 7
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

# Get last digit of a number
year = 2024
last_digit = year % 10
print(f"Last digit of {year} is {last_digit}")  # 4

# Convert minutes to hours and minutes
total_minutes = 135
hours = total_minutes // 60
minutes = total_minutes % 60
print(f"{total_minutes} minutes = {hours}h {minutes}m")

## Exponents and Roots

In [ ]:
# Powers
print(2 ** 3)     # 8 (2¬≥)
print(10 ** 2)    # 100 (10¬≤)
print(5 ** 0)     # 1 (anything‚Å∞ = 1)

# Square root (power of 0.5)
print(16 ** 0.5)  # 4.0
print(25 ** 0.5)  # 5.0

# Cube root (power of 1/3)
print(27 ** (1/3))  # 3.0

# Scientific notation
distance_to_moon = 3.84e8  # 384,000,000 meters
print(distance_to_moon)

## Order of Operations (PEMDAS/BODMAS)

Python follows standard math order:

1. **P**arentheses / **B**rackets
2. **E**xponents / **O**rders
3. **M**ultiplication and **D**ivision (left to right)
4. **A**ddition and **S**ubtraction (left to right)

In [ ]:
print(2 + 3 * 4)       # 14 (not 20!)
print((2 + 3) * 4)     # 20
print(2 ** 3 ** 2)     # 512 (exponents: right to left)
print((2 ** 3) ** 2)   # 64
print(10 - 4 - 2)      # 4 (left to right)

## Assignment Operators (Shortcuts)

Instead of `x = x + 5`, use shortcuts:

In [ ]:
x = 10
print(f"Start: {x}")

x += 5   # Same as: x = x + 5
print(f"After += 5: {x}")

x -= 3   # Same as: x = x - 3
print(f"After -= 3: {x}")

x *= 2   # Same as: x = x * 2
print(f"After *= 2: {x}")

x //= 4  # Same as: x = x // 4
print(f"After //= 4: {x}")

## All Assignment Operators

| Operator | Example | Equivalent |
|----------|---------|------------|
| `+=` | `x += 5` | `x = x + 5` |
| `-=` | `x -= 5` | `x = x - 5` |
| `*=` | `x *= 5` | `x = x * 5` |
| `/=` | `x /= 5` | `x = x / 5` |
| `//=` | `x //= 5` | `x = x // 5` |
| `%=` | `x %= 5` | `x = x % 5` |
| `**=` | `x **= 5` | `x = x ** 5` |

## Exercise 4.1: Math Practice (5 min)

In [ ]:
# Calculate these values:

# 1. Area of a circle with radius 7 (œÄ √ó r¬≤)
pi = 3.14159
radius = 7
circle_area = ...

# 2. Hypotenuse of right triangle (‚àö(a¬≤ + b¬≤))
side_a = 3
side_b = 4
hypotenuse = ...

# 3. Compound interest: A = P(1 + r)^t
principal = 1000
rate = 0.05
years = 10
final_amount = ...

# 4. How many weeks and days in 100 days?
total_days = 100
weeks = ...
remaining_days = ...

## Exercise 4.1: Solutions

In [ ]:
# 1. Circle area
pi = 3.14159
radius = 7
circle_area = pi * radius ** 2
print(f"Circle area: {circle_area:.2f}")  # 153.94

# 2. Hypotenuse
side_a = 3
side_b = 4
hypotenuse = (side_a**2 + side_b**2) ** 0.5
print(f"Hypotenuse: {hypotenuse}")  # 5.0

# 3. Compound interest
principal = 1000
rate = 0.05
years = 10
final_amount = principal * (1 + rate) ** years
print(f"Final amount: ${final_amount:.2f}")  # $1628.89

# 4. Weeks and days
total_days = 100
weeks = total_days // 7
remaining_days = total_days % 7
print(f"{total_days} days = {weeks} weeks and {remaining_days} days")

## String Concatenation

Joining strings together with `+`:

In [ ]:
first_name = "Ana"
last_name = "Novak"

# Concatenation
full_name = first_name + " " + last_name
print(full_name)

# Building longer strings
greeting = "Hello, " + full_name + "!"
print(greeting)

**Output:**
```
Ana Novak
Hello, Ana Novak!
```

## String Repetition

Repeating strings with `*`:

In [ ]:
print("=" * 30)
print("Hello! " * 3)
print("-" * 40)

**Output:**
```
==============================
Hello! Hello! Hello!
----------------------------------------
```

Useful for creating visual separators!

## String Length

In [ ]:
message = "Hello, World!"
print(len(message))  # 13 (including space and punctuation)

empty = ""
print(len(empty))    # 0

name = "Ljubljana"
print(len(name))     # 9

The `len()` function counts ALL characters including spaces and punctuation.

## String Methods

Methods are functions attached to strings (use dot notation):

In [ ]:
text = "Hello, World!"

print(text.upper())       # HELLO, WORLD!
print(text.lower())       # hello, world!
print(text.title())       # Hello, World!
print(text.swapcase())    # hELLO, wORLD!

## More String Methods

In [ ]:
text = "  Hello, World!  "

# Whitespace handling
print(text.strip())       # "Hello, World!" (removes both sides)
print(text.lstrip())      # "Hello, World!  " (left only)
print(text.rstrip())      # "  Hello, World!" (right only)

# Finding and replacing
print(text.strip().replace("World", "Python"))  # Hello, Python!
print(text.strip().count("l"))                  # 3
print(text.strip().find("World"))               # 7 (index)

## String Checking Methods

In [ ]:
# Check what string contains
print("hello".isalpha())      # True (only letters)
print("12345".isdigit())      # True (only digits)
print("hello123".isalnum())   # True (letters or digits)
print("   ".isspace())        # True (only whitespace)

# Check start/end
text = "Hello, World!"
print(text.startswith("Hello"))  # True
print(text.startswith("hello"))  # False (case-sensitive!)
print(text.endswith("!"))        # True
print(text.endswith("?"))        # False

## String Indexing

Access individual characters by position (index):

In [ ]:
word = "Python"
#       012345  (positive index, from left)
#      -654321  (negative index, from right)

print(word[0])    # P (first)
print(word[1])    # y (second)
print(word[5])    # n (sixth, last)
print(word[-1])   # n (last)
print(word[-2])   # o (second to last)

> ‚ö†Ô∏è **Warning:** Indexing starts at **0**, not 1! First character is `[0]`.

## String Slicing

Extract substrings with `[start:stop:step]`:

In [ ]:
word = "Python"

print(word[0:3])   # Pyt (index 0, 1, 2)
print(word[:3])    # Pyt (from start to 3)
print(word[3:])    # hon (from 3 to end)
print(word[1:5])   # ytho (1, 2, 3, 4)
print(word[::2])   # Pto (every 2nd character)
print(word[::-1])  # nohtyP (reversed!)

**Note:** The `stop` index is NOT included (exclusive).

## Exercise 4.2: String Practice (5 min)

In [ ]:
sentence = "  Python Programming is FUN!  "

# 1. Remove extra spaces
clean = ...

# 2. Convert to lowercase
lower = ...

# 3. Replace "FUN" with "AWESOME"
awesome = ...

# 4. Get just "Python" (first word)
first_word = ...

# 5. Count letter 'n' (case-insensitive)
n_count = ...

# 6. Check if it ends with "!"
has_exclaim = ...

# 7. Reverse the cleaned string
reversed_str = ...

## Exercise 4.2: Solutions

In [ ]:
sentence = "  Python Programming is FUN!  "

clean = sentence.strip()
print(f"1. Clean: '{clean}'")

lower = clean.lower()
print(f"2. Lower: '{lower}'")

awesome = clean.replace("FUN", "AWESOME")
print(f"3. Awesome: '{awesome}'")

first_word = clean.split()[0]
print(f"4. First word: '{first_word}'")

n_count = clean.lower().count('n')
print(f"5. Count of 'n': {n_count}")

has_exclaim = clean.endswith("!")
print(f"6. Ends with '!': {has_exclaim}")

reversed_str = clean[::-1]
print(f"7. Reversed: '{reversed_str}'")

---

# üìö Part 5: F-Strings

Formatted String Literals (20 minutes)

## The Problem

How do we combine text and variables?

In [ ]:
name = "Alice"
age = 28

# Concatenation is clunky:
message = "My name is " + name + " and I am " + str(age) + " years old."
print(message)

There must be a better way!

## F-Strings to the Rescue!

Put `f` before the string and variables inside `{curly braces}`:

In [ ]:
name = "Alice"
age = 28

# F-string way - clean and readable!
message = f"My name is {name} and I am {age} years old."
print(message)

**Output:**
```
My name is Alice and I am 28 years old.
```

## F-String Syntax

In [ ]:
name = "Alice"
score = 95

# The f before quotes is required!
greeting = f"Hello, {name}!"
result = f"You scored {score} points."

print(greeting)
print(result)

# Without the f, braces are literal text:
no_f = "Hello, {name}!"  # Prints: Hello, {name}!
print(no_f)

## Expressions in F-Strings

You can put any Python expression inside the braces:

In [ ]:
x = 10
y = 5

print(f"Sum: {x + y}")
print(f"Product: {x * y}")
print(f"x squared: {x ** 2}")
print(f"Is x bigger? {x > y}")
print(f"Division: {x / y}")

**Output:**
```
Sum: 15
Product: 50
x squared: 100
Is x bigger? True
Division: 2.0
```

## Function Calls in F-Strings

In [ ]:
name = "alice"
items = ["apple", "banana", "cherry"]

print(f"Original: {name}")
print(f"Upper: {name.upper()}")
print(f"Title: {name.title()}")
print(f"Length: {len(name)}")
print(f"Number of items: {len(items)}")

**Output:**
```
Original: alice
Upper: ALICE
Title: Alice
Length: 5
Number of items: 3
```

## Number Formatting: Decimal Places

In [ ]:
pi = 3.14159265359
price = 19.5

# .Xf = X decimal places
print(f"Pi: {pi}")           # 3.14159265359
print(f"Pi: {pi:.2f}")       # 3.14
print(f"Pi: {pi:.4f}")       # 3.1416

print(f"Price: ${price}")    # $19.5
print(f"Price: ${price:.2f}")# $19.50

The `f` after the number means "fixed-point" (show as decimal).

## Number Formatting: Thousands Separator

In [ ]:
population = 2100000
salary = 52750.50

# Use comma for thousands separator
print(f"Population: {population:,}")
print(f"Salary: ${salary:,.2f}")

# Use underscore (Python 3.6+)
print(f"Population: {population:_}")

**Output:**
```
Population: 2,100,000
Salary: $52,750.50
Population: 2_100_000
```

## Number Formatting: Percentages

In [ ]:
ratio = 0.756
accuracy = 0.9823
completion = 0.5

print(f"Ratio: {ratio:.1%}")       # 75.6%
print(f"Accuracy: {accuracy:.2%}") # 98.23%
print(f"Complete: {completion:.0%}")# 50%

The `%` multiplies by 100 and adds the percent sign.

## Number Formatting: Alignment and Padding

In [ ]:
name = "Alice"
score = 42

# Width and alignment
print(f"|{name:>15}|")  # Right align, width 15
print(f"|{name:<15}|")  # Left align
print(f"|{name:^15}|")  # Center

# Zero padding
print(f"ID: {score:05}")    # 00042
print(f"Hex: {score:04x}")  # 002a

**Output:**
```
|          Alice|
|Alice          |
|     Alice     |
ID: 00042
Hex: 002a
```

## Practical F-String Examples

In [ ]:
# Receipt line
item = "Coffee"
price = 4.50
print(f"{item:.<20} ${price:.2f}")
# Coffee.............. $4.50

# Table row
name = "Alice"
score = 95
print(f"| {name:<12} | {score:>5} |")
# | Alice        |    95 |

# Progress bar
progress = 0.73
bar = "=" * int(progress * 20)
print(f"[{bar:<20}] {progress:.0%}")
# [==============      ] 73%

## Exercise 5.1: Pay Slip (10 min)

Create a formatted pay slip:

In [ ]:
# Input data
employee = "Marko Horvat"
hours = 37.5
rate = 25.50
tax_rate = 0.22

# Calculations
gross = hours * rate
tax = gross * tax_rate
net = gross - tax

# Create this output:
# ====================================
#          PAY SLIP
# ====================================
# Employee:     Marko Horvat
# Hours:                 37.50
# Rate:                 $25.50
# ------------------------------------
# Gross Pay:           $956.25
# Tax (22.0%):        -$210.38
# ------------------------------------
# NET PAY:             $745.88
# ====================================

## Exercise 5.1: Solution

In [ ]:
employee = "Marko Horvat"
hours = 37.5
rate = 25.50
tax_rate = 0.22

gross = hours * rate
tax = gross * tax_rate
net = gross - tax

print("=" * 36)
print(f"{'PAY SLIP':^36}")
print("=" * 36)
print(f"Employee:     {employee}")
print(f"Hours:        {hours:>18.2f}")
print(f"Rate:         ${rate:>17.2f}")
print("-" * 36)
print(f"Gross Pay:    ${gross:>17,.2f}")
print(f"Tax ({tax_rate:.1%}):   -${tax:>16,.2f}")
print("-" * 36)
print(f"NET PAY:      ${net:>17,.2f}")
print("=" * 36)

## Exercise 5.2: Data Report (5 min)

In [ ]:
# Data
product = "Widget Pro"
units_sold = 15234
unit_price = 29.99
total_revenue = units_sold * unit_price
target = 500000
achievement = total_revenue / target

# Create a formatted report showing:
# - Product name
# - Units sold with thousands separator
# - Unit price with 2 decimals
# - Total revenue with $ and thousands separator
# - Target achievement as percentage

## Exercise 5.2: Solution

In [ ]:
product = "Widget Pro"
units_sold = 15234
unit_price = 29.99
total_revenue = units_sold * unit_price
target = 500000
achievement = total_revenue / target

print(f"\n{'SALES REPORT':=^40}\n")
print(f"Product:         {product}")
print(f"Units Sold:      {units_sold:,}")
print(f"Unit Price:      ${unit_price:.2f}")
print(f"Total Revenue:   ${total_revenue:,.2f}")
print(f"Target:          ${target:,.2f}")
print(f"Achievement:     {achievement:.1%}")

if achievement >= 1:
    print("\nüéâ Target achieved!")
else:
    shortfall = target - total_revenue
    print(f"\nüìä ${shortfall:,.2f} to reach target")

---

# üìö Part 5.5: Working with Dates

Basic Date and Time in Python (15 minutes)

## Why Learn Dates Now?

Dates and times are everywhere in data:
- When was an order placed?
- How old is a customer?
- What day of the week was an event?
- How many days until a deadline?

Python has built-in tools for dates - learn the basics now!

## The datetime Module

In [ ]:
# Import the datetime module
from datetime import date, datetime, timedelta

# Get today's date
today = date.today()
print(f"Today is: {today}")
# Output: Today is: 2024-12-25

## Creating Dates

In [ ]:
from datetime import date

# Create a specific date
birthday = date(1990, 5, 15)  # year, month, day
print(f"Birthday: {birthday}")

# Today's date
today = date.today()
print(f"Today: {today}")

# Access parts
print(f"Year: {today.year}")
print(f"Month: {today.month}")
print(f"Day: {today.day}")

## Working with Times

In [ ]:
from datetime import datetime

# Current date AND time
now = datetime.now()
print(f"Now: {now}")
# Output: 2024-12-25 14:30:45.123456

# Access parts
print(f"Hour: {now.hour}")
print(f"Minute: {now.minute}")
print(f"Second: {now.second}")

## Day of the Week

In [ ]:
from datetime import date

today = date.today()

# weekday() returns 0-6 (Monday=0, Sunday=6)
print(f"Weekday number: {today.weekday()}")

# Get the name
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday']
print(f"Day name: {days[today.weekday()]}")

## Date Arithmetic

In [ ]:
from datetime import date, timedelta

today = date.today()

# Add days
tomorrow = today + timedelta(days=1)
next_week = today + timedelta(weeks=1)
print(f"Tomorrow: {tomorrow}")
print(f"Next week: {next_week}")

# Subtract days
yesterday = today - timedelta(days=1)
print(f"Yesterday: {yesterday}")

## Calculating Differences

In [ ]:
from datetime import date

# Two dates
start = date(2024, 1, 1)
end = date(2024, 12, 31)

# Difference
difference = end - start
print(f"Days between: {difference.days}")
# Output: Days between: 365

## Calculating Age

In [ ]:
from datetime import date

# Birth date
birthdate = date(1990, 5, 15)
today = date.today()

# Simple age calculation
age = today.year - birthdate.year

# Adjust if birthday hasn't occurred this year
if (today.month, today.day) < (birthdate.month, birthdate.day):
    age -= 1

print(f"Age: {age} years")

## Formatting Dates

In [ ]:
from datetime import date

today = date.today()

# Format with strftime()
print(today.strftime("%d/%m/%Y"))      # 25/12/2024
print(today.strftime("%B %d, %Y"))     # December 25, 2024
print(today.strftime("%A, %B %d"))     # Wednesday, December 25
print(today.strftime("%d %b %Y"))      # 25 Dec 2024

## Common Format Codes

| Code | Meaning | Example |
|------|---------|---------|
| `%Y` | 4-digit year | 2024 |
| `%m` | Month (01-12) | 12 |
| `%d` | Day (01-31) | 25 |
| `%B` | Full month name | December |
| `%b` | Short month | Dec |
| `%A` | Full weekday | Wednesday |
| `%a` | Short weekday | Wed |
| `%H` | Hour (24h) | 14 |
| `%M` | Minute | 30 |

## Parsing Date Strings

In [ ]:
from datetime import datetime

# Convert string to date
date_string = "2024-12-25"
parsed = datetime.strptime(date_string, "%Y-%m-%d")
print(f"Parsed: {parsed}")

# Different format
date_string2 = "25/12/2024"
parsed2 = datetime.strptime(date_string2, "%d/%m/%Y")
print(f"Parsed: {parsed2}")

## Exercise 5.5: Date Practice

In [ ]:
from datetime import date, timedelta

# 1. Get today's date
today = date.today()

# 2. Calculate days until New Year 2025
new_year = date(2025, 1, 1)
days_until = (new_year - today).days
print(f"Days until New Year: {days_until}")

# 3. What day of the week is New Year?
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
        'Friday', 'Saturday', 'Sunday']
print(f"New Year 2025 is on: {days[new_year.weekday()]}")

# 4. Format today nicely
print(f"Today: {today.strftime('%A, %B %d, %Y')}")

## Key Takeaways

- `from datetime import date, datetime, timedelta`
- `date.today()` for current date
- `datetime.now()` for current date and time
- Access parts: `.year`, `.month`, `.day`, `.hour`, `.minute`
- `timedelta(days=n)` for date arithmetic
- `.strftime()` to format, `strptime()` to parse

> üí° **Tip:** In Module 3, you'll learn Pandas date operations which are even more powerful for data analysis!

---

# üìö Part 6: Common Errors

Understanding and Fixing Mistakes (20 minutes)

## Errors Are Normal!

- Every programmer makes errors - lots of them!
- Errors are how you learn
- Python gives helpful error messages
- Reading errors is a critical skill

**Don't be afraid of errors - learn from them!**

## Anatomy of an Error Message

```
Traceback (most recent call last):
  File "script.py", line 3, in <module>
    print(nmae)
NameError: name 'nmae' is not defined
```

1. **Traceback** - The path to the error
2. **File and line** - Exact location
3. **Code** - The line that caused the error
4. **Error type** - What kind of error (NameError)
5. **Message** - Description of the problem

**Always read the LAST line first!**

## NameError

**Cause:** Using a variable that doesn't exist (usually a typo)

In [ ]:
name = "Alice"
print(nmae)  # Typo!

**Error:**
```
NameError: name 'nmae' is not defined
```

**Fix:** Check spelling carefully!

In [ ]:
name = "Alice"
print(name)  # Correct

## TypeError

**Cause:** Using wrong type for an operation

In [ ]:
age = 25
message = "I am " + age + " years old"  # Can't add string + int!

**Error:**
```
TypeError: can only concatenate str (not "int") to str
```

**Fix:** Convert types or use f-string!

In [ ]:
message = "I am " + str(age) + " years old"  # Convert to string
message = f"I am {age} years old"            # Or use f-string

## SyntaxError

**Cause:** Invalid Python syntax

In [ ]:
print("Hello World)  # Missing closing quote

**Error:**
```
SyntaxError: EOL while scanning string literal
```

**Common causes:**

- Missing quotes, parentheses, brackets
- Unmatched brackets/quotes
- Missing colons after if/for/while
- Wrong indentation

## More SyntaxErrors

In [ ]:
# Missing colon
if True
    print("yes")

# Mismatched brackets
data = [1, 2, 3)

# Invalid assignment
5 = x

# Keyword as variable
class = "Math"

## ValueError

**Cause:** Right type, wrong value

In [ ]:
number = int("hello")  # Can't convert "hello" to int

**Error:**
```
ValueError: invalid literal for int() with base 10: 'hello'
```

**Fix:** Validate input before converting

In [ ]:
text = "hello"
if text.isdigit():
    number = int(text)
else:
    print("Not a valid number!")

## IndexError

**Cause:** Accessing an index that doesn't exist

In [ ]:
word = "Python"  # Indices 0-5
print(word[10])  # Index 10 doesn't exist!

**Error:**
```
IndexError: string index out of range
```

**Fix:** Check length first

In [ ]:
word = "Python"
index = 10
if index < len(word):
    print(word[index])
else:
    print(f"Index {index} is out of range!")

## ZeroDivisionError

**Cause:** Dividing by zero

In [ ]:
result = 10 / 0

**Error:**
```
ZeroDivisionError: division by zero
```

**Fix:** Check before dividing

In [ ]:
numerator = 10
denominator = 0

if denominator != 0:
    result = numerator / denominator
else:
    print("Cannot divide by zero!")

## AttributeError

**Cause:** Using method/attribute that doesn't exist for that type

In [ ]:
number = 42
print(number.upper())  # Numbers don't have .upper()!

**Error:**
```
AttributeError: 'int' object has no attribute 'upper'
```

**Fix:** Use correct method for the type

In [ ]:
text = "hello"
print(text.upper())  # Strings have .upper()

## Exercise 6.1: Debug This Code (10 min)

Find and fix ALL the errors:

In [ ]:
# Calculate final price with discount
product = "Laptop
price = "999.99"
disount = 0.1

final = price - (price * disount)
print(f"Product: {Product}")
print(f"Original: ${priice}")
print(f"Discount: {discount}%")
print(f"Final: ${final:.2f))

## Exercise 6.1: Solution

In [ ]:
# ERRORS FOUND AND FIXED:

# 1. Missing closing quote on string
product = "Laptop"  # Added closing quote

# 2. Price should be number, not string
price = 999.99  # Removed quotes

# 3. Typo in variable name
discount = 0.1  # disount ‚Üí discount

# Now the calculation works
final = price - (price * discount)

# 4. Wrong case: Product ‚Üí product
print(f"Product: {product}")

# 5. Typo: priice ‚Üí price
print(f"Original: ${price}")

# 6. Show as percentage
print(f"Discount: {discount * 100}%")

# 7. Wrong closing brackets: :2f)) ‚Üí :.2f}")
print(f"Final: ${final:.2f}")

## Using Gemini for Debugging

When you get an error:

1. Copy the full error message
2. Open Gemini (Ctrl + Shift + Space)
3. Ask: "What does this error mean and how do I fix it?"
4. Paste the error

**Example prompts:**

- "What does NameError: name 'x' is not defined mean?"
- "Why am I getting TypeError when adding strings?"
- "This code gives SyntaxError, what's wrong?" [paste code]

## Exercise 6.2: More Debugging (5 min)

In [ ]:
# Fix these errors:

# 1. NameError
message = "Hello"
print(mesage)

# 2. TypeError
age = "30"
in_ten_years = age + 10

# 3. ValueError
number = int("three")

# 4. IndexError
letters = "ABC"
print(letters[3])

# 5. SyntaxError
if True
    print("Yes")

## Exercise 6.2: Solutions

In [ ]:
# 1. NameError - fix typo
message = "Hello"
print(message)

# 2. TypeError - convert string to int
age = "30"
in_ten_years = int(age) + 10
print(in_ten_years)

# 3. ValueError - use valid number string
number = int("3")  # or handle the error
print(number)

# 4. IndexError - use valid index
letters = "ABC"
print(letters[2])  # Last valid index is 2

# 5. SyntaxError - add colon
if True:
    print("Yes")

---

# üìö Part 7: User Input

Getting Data from Users (15 minutes)

## The input() Function

In [ ]:
name = input("What is your name? ")
print(f"Hello, {name}!")

**When you run this:**
```
What is your name? Alice
Hello, Alice!
```

The program pauses, waits for user input, then continues.

## Important: input() Returns String!

In [ ]:
age = input("Enter your age: ")
print(type(age))  # <class 'str'> - it's a string!

# This will cause an error:
# next_year = age + 1  # TypeError!

# Convert to integer first:
age = int(input("Enter your age: "))
print(type(age))  # <class 'int'>
next_year = age + 1  # Now it works!

## Converting Input Types

In [ ]:
# For integers
age = int(input("Enter your age: "))

# For floats/decimals
height = float(input("Enter your height in meters: "))

# For yes/no (as boolean)
response = input("Do you agree? (y/n): ")
agrees = response.lower() == 'y'

## Exercise 7.1: Interactive Calculator (5 min)

In [ ]:
# Get two numbers from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Calculate and display all operations
print(f"\nResults:")
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} √ó {num2} = {num1 * num2}")
if num2 != 0:
    print(f"{num1} √∑ {num2} = {num1 / num2:.2f}")
else:
    print("Cannot divide by zero!")

## Exercise 7.2: Personal Info Form (5 min)

Create an interactive form that asks for and displays:

- Full name
- Age (calculate birth year)
- City
- Favorite color
- Favorite food

Display a formatted summary at the end.

## Exercise 7.2: Solution

In [ ]:
print("=== Personal Information Form ===\n")

name = input("Your full name: ")
age = int(input("Your age: "))
city = input("Your city: ")
color = input("Favorite color: ")
food = input("Favorite food: ")

birth_year = 2024 - age

print("\n" + "=" * 35)
print("SUMMARY")
print("=" * 35)
print(f"Name:           {name}")
print(f"Age:            {age}")
print(f"Born:           ~{birth_year}")
print(f"City:           {city}")
print(f"Favorite color: {color}")
print(f"Favorite food:  {food}")
print("=" * 35)

---

# üìö Part 8: Practice Projects

Apply Everything You've Learned (30 minutes)

## Project 1: Temperature Converter

Build a complete temperature converter:

1. Ask for temperature in Celsius
2. Convert to Fahrenheit: F = C √ó 9/5 + 32
3. Convert to Kelvin: K = C + 273.15
4. Display all three with nice formatting
5. Add a message based on temperature (cold/warm/hot)

## Project 1: Solution

In [ ]:
print("=" * 40)
print("TEMPERATURE CONVERTER".center(40))
print("=" * 40)

celsius = float(input("\nEnter temperature in Celsius: "))

fahrenheit = celsius * 9/5 + 32
kelvin = celsius + 273.15

print(f"\n{celsius:.1f}¬∞C equals:")
print(f"  ‚Ä¢ {fahrenheit:.1f}¬∞F (Fahrenheit)")
print(f"  ‚Ä¢ {kelvin:.2f}K (Kelvin)")

print("\nDescription:", end=" ")
if celsius < 0:
    print("‚ùÑÔ∏è Freezing cold!")
elif celsius < 10:
    print("ü•∂ Very cold")
elif celsius < 20:
    print("üòä Cool and pleasant")
elif celsius < 30:
    print("‚òÄÔ∏è Warm")
else:
    print("üî• Hot!")

## Project 2: Simple Interest Calculator

Calculate investment growth:

1. Get principal amount, interest rate, years
2. Calculate simple interest: I = P √ó R √ó T
3. Calculate total amount: A = P + I
4. Display formatted financial report

## Project 2: Solution

In [ ]:
print("\n" + "=" * 45)
print("SIMPLE INTEREST CALCULATOR".center(45))
print("=" * 45)

principal = float(input("\nPrincipal amount ($): "))
rate = float(input("Annual interest rate (%): ")) / 100
years = int(input("Investment period (years): "))

interest = principal * rate * years
total = principal + interest

print("\n" + "-" * 45)
print("INVESTMENT SUMMARY".center(45))
print("-" * 45)
print(f"Principal Amount:    ${principal:>15,.2f}")
print(f"Interest Rate:       {rate*100:>15.2f}%")
print(f"Time Period:         {years:>15} years")
print("-" * 45)
print(f"Interest Earned:     ${interest:>15,.2f}")
print(f"Total Value:         ${total:>15,.2f}")
print("=" * 45)
print(f"\nüí∞ Your money grew by {(total/principal - 1)*100:.1f}%!")

## Project 3: Mad Libs Story Generator

Create an interactive story:

1. Ask for various words (nouns, verbs, adjectives)
2. Insert them into a funny story template
3. Display the complete story

## Project 3: Solution

In [ ]:
print("\nüé≠ MAD LIBS STORY GENERATOR üé≠\n")
print("Fill in the blanks to create a funny story!\n")

adjective1 = input("Enter an adjective: ")
noun1 = input("Enter a noun: ")
verb_past = input("Enter a verb (past tense): ")
adverb = input("Enter an adverb: ")
adjective2 = input("Enter another adjective: ")
noun2 = input("Enter another noun: ")
exclamation = input("Enter an exclamation: ")

print("\n" + "=" * 50)
print("YOUR STORY:")
print("=" * 50)
print(f"""
Once upon a time, there was a {adjective1} {noun1}
who {verb_past} {adverb} through the enchanted forest.

Suddenly, a {adjective2} {noun2} appeared and said,
"{exclamation}! I've been waiting for you!"

And they became best friends forever.

THE END üéâ
""")

## Project 4: Profile Card Generator

Create an ASCII art profile card with:

- User's name, age, city
- Calculated data (birth year, days lived)
- Decorative borders
- Fun facts

## Project 4: Solution

In [ ]:
print("\nüé® PROFILE CARD GENERATOR üé®\n")

name = input("Your name: ")
age = int(input("Your age: "))
city = input("Your city: ")
hobby = input("Your hobby: ")

birth_year = 2024 - age
days_lived = age * 365

print("\n‚ïî" + "‚ïê" * 38 + "‚ïó")
print(f"‚ïë{'‚ú® PROFILE CARD ‚ú®':^38}‚ïë")
print("‚ï†" + "‚ïê" * 38 + "‚ï£")
print(f"‚ïë  Name:     {name:<26}‚ïë")
print(f"‚ïë  Age:      {age:<26}‚ïë")
print(f"‚ïë  Born:     ~{birth_year:<25}‚ïë")
print(f"‚ïë  City:     {city:<26}‚ïë")
print(f"‚ïë  Hobby:    {hobby:<26}‚ïë")
print("‚ï†" + "‚ïê" * 38 + "‚ï£")
print(f"‚ïë  üìä Fun Facts:{' '*23}‚ïë")
print(f"‚ïë  ‚Ä¢ Lived ~{days_lived:,} days{' '*14}‚ïë")
print(f"‚ïë  ‚Ä¢ Next year: {age+1} years old{' '*10}‚ïë")
print("‚ïö" + "‚ïê" * 38 + "‚ïù")

---

# üìö Module 1 Summary

## What You Learned Today

1. **Colab Environment** - Running Python in the cloud
2. **Variables** - Storing and naming data
3. **Data Types** - int, float, str, bool
4. **Type Conversion** - int(), float(), str(), bool()
5. **Operators** - Math and string operations
6. **F-Strings** - Beautiful formatted output
7. **User Input** - Interactive programs
8. **Error Handling** - Reading and fixing mistakes
9. **Gemini AI** - Your coding assistant

## Key Takeaways

- Variables are labeled boxes: `name = "Alice"`
- Four types: `int`, `float`, `str`, `bool`
- Check types with `type()`
- F-strings are magic: `f"Hello {name}"`
- `input()` always returns a string - convert if needed
- Errors are teachers - read them carefully!
- Gemini helps, but understanding is the goal

## Before Next Session

‚úÖ Complete all exercises in this notebook

‚úÖ Complete Module 1 Quiz in Moodle (15 questions)

‚úÖ Post in the forum: What surprised you about Python?

‚úÖ Bonus: Create your own profile card with 10 variables

## Next Module Preview

**Module 2: Data Structures**

- Lists: `[1, 2, 3, 4, 5]`
- Dictionaries: `{"name": "Alice", "age": 28}`
- Loops: Repeat actions automatically
- Conditionals: Make decisions in code

---

# üìö Questions?

Ask now, post in the forum, or ask Gemini!